header  {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .HeaderLogo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #F9FAF8;
}

.HeaderLink ul {
    display: flex;
}
.HeaderLink ul li{
    color: #E5E7EB;
    padding: 10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.HeaderLink .UnorderedLink { 
    list-style-type: none;
}
footer {
    display: flex;
 
}

footer div {
    background-color: #1f2937;
    flex: 1;
}
footer div h4 {
    flex : 1;
    color: #E5E7EB;
    padding: 10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
}